In [1]:
import pandas as pd
import nltk
import numpy as np

In [63]:
from nltk.corpus import stopwords
from nltk import word_tokenize
import string
stoplist = stopwords.words('english') + list(string.punctuation)
stoplist = set(stoplist)

In [2]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')
nltk.download('tagsets')

[nltk_data] Downloading package punkt to /Users/haritha/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/haritha/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/haritha/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package tagsets to /Users/haritha/nltk_data...
[nltk_data]   Package tagsets is already up-to-date!

True

In [3]:
OCHO = ["paper_id","section_num","para_num","sent_num","token_num"]

In [4]:
comm = pd.read_csv('../dataset/processed-files/commercial.csv')

In [5]:
non_comm = pd.read_csv('../dataset/processed-files/non_commercial.csv')

In [6]:
comm

,paper_id,text,journal,publish_year,is_covid19,section_num,publish_month
0,5e0c586f047ff909c8ed3fe171c8975a90608d08,BACKGROUND: Porcine epidemic diarrhea virus (P...,Virol J,2018,False,0,8
1,1579fbff7af9b156c6f49fee0526e48f852ea460,Infectious bronchitis virus (IBV) causes a hig...,Sci Rep,2018,False,0,8
2,38aa050ad79d8a1d7022c33535255ce9d47914e5,The new world arenavirus Junín virus (JUNV) is...,PLoS Negl Trop Dis,2014,False,0,6
3,61722c462b054f36461375e96e502cbf22648c04,Dengue fever is one of the most important mosq...,Sci Rep,2019,False,0,6
4,7107f088cbed45d8a06a026276ccf4d602d50f10,Microglia are the resident macrophage-like pop...,Clin Dev Immunol,2013,False,0,6
...,...,...,...,...,...,...,...
12873,228650bc0429064d800d4b9c5fb0e00c2533a579,The discovery phase identified a total of 1486...,PLoS One,2019,False,1,9
12874,2246e28681bde69c65dc9081df367bb661997f19,"A total of 57 patients (age 18–64 years, media...",PLoS Negl Trop Dis,2010,False,1,5
12875,577c6a13f9ef70e9756890fc66e98f537c01ac0a,The MERS-CoV receptor DPP4 is the main host re...,Sci Rep,2016,False,1,2
12876,c5c2bc7a07670d6fb970d84a59aab3832752a3f1,"Clade B New World (NW) arenaviruses, including...",Viruses,2018,False,1,4
12877,ba29366173f97f54a22e5c410b3d05e9a9649d28,All the samples from T1 (colonies fed for four...,Insects,2019,False,1,11

In [7]:
non_comm

,paper_id,text,journal,publish_year,is_covid19,section_num,publish_month
0,634128ea7d7736750e1c3cd0a48bb37843d06dac,The majority of emerging zoonoses originate in...,mBio,2013,False,0,9
1,fef0bb9eaac69559d0ff2f92ff83e0affd4435f0,The broad range and diversity of interferon-st...,mBio,2014,False,0,5
2,246f59ddffedd4a166b9317dee38bdf6077b2f3f,The thiazolidinedione class peroxisome prolife...,Drug Des Devel Ther,2014,False,0,11
3,9cda860c97d430aea207a063d13e8612e023320c,Bovine viral diarrhea (BVD) is a chronic disea...,J Vet Med Sci,2019,False,0,3
4,b66704a03a688c4065abff41c4977c4c9939c230,Despite the rapidly increasing prevalence of n...,J Korean Med Sci,2016,False,0,11
...,...,...,...,...,...,...,...
1967,d00f4dabc58eca254f3b2ca4efafda00d671c3da,"As noted above, a motif based search removes t...",Cell Cycle,2015,False,1,1
1968,4c3f357d50bfeede5dd0eec81a4b5b7f116c628a,"We quantified a total of 1109 plasma proteins,...",Sci China Life Sci,2011,False,1,5
1969,2ffacfd58f57a95344119c15d27560cdeaea2285,Metaphase-arrested egg extracts from X. laevis...,J Cell Biol,2014,False,1,10
1970,4c5c841e4ad3fbf9b31d6c0c282dfec035f716bb,"With respect to the exclusion criteria, only 7...",Int J Chron Obstruct Pulmon Dis,2019,False,1,5
1971,ea5d20e07d05c8b241f90e6429f3daaacc844ecd,To establish the most suitable time points for...,mBio,2011,False,1,10

In [8]:
df = pd.concat([comm, non_comm])

In [9]:
df

,paper_id,text,journal,publish_year,is_covid19,section_num,publish_month
0,5e0c586f047ff909c8ed3fe171c8975a90608d08,BACKGROUND: Porcine epidemic diarrhea virus (P...,Virol J,2018,False,0,8
1,1579fbff7af9b156c6f49fee0526e48f852ea460,Infectious bronchitis virus (IBV) causes a hig...,Sci Rep,2018,False,0,8
2,38aa050ad79d8a1d7022c33535255ce9d47914e5,The new world arenavirus Junín virus (JUNV) is...,PLoS Negl Trop Dis,2014,False,0,6
3,61722c462b054f36461375e96e502cbf22648c04,Dengue fever is one of the most important mosq...,Sci Rep,2019,False,0,6
4,7107f088cbed45d8a06a026276ccf4d602d50f10,Microglia are the resident macrophage-like pop...,Clin Dev Immunol,2013,False,0,6
...,...,...,...,...,...,...,...
1967,d00f4dabc58eca254f3b2ca4efafda00d671c3da,"As noted above, a motif based search removes t...",Cell Cycle,2015,False,1,1
1968,4c3f357d50bfeede5dd0eec81a4b5b7f116c628a,"We quantified a total of 1109 plasma proteins,...",Sci China Life Sci,2011,False,1,5
1969,2ffacfd58f57a95344119c15d27560cdeaea2285,Metaphase-arrested egg extracts from X. laevis...,J Cell Biol,2014,False,1,10
1970,4c5c841e4ad3fbf9b31d6c0c282dfec035f716bb,"With respect to the exclusion criteria, only 7...",Int J Chron Obstruct Pulmon Dis,2019,False,1,5
1971,ea5d20e07d05c8b241f90e6429f3daaacc844ecd,To establish the most suitable time points for...,mBio,2011,False,1,10

In [10]:
df.to_csv('../dataset/processed-files/consolidated.csv', index=False)

In [11]:
len(df['paper_id'].unique().tolist())

7425

In [12]:
len(df['section_num'].unique())

2

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14850 entries, 0 to 1971
Data columns (total 7 columns):
paper_id         14850 non-null object
text             14850 non-null object
journal          14850 non-null object
publish_year     14850 non-null int64
is_covid19       14850 non-null bool
section_num      14850 non-null int64
publish_month    14850 non-null int64
dtypes: bool(1), int64(3), object(3)
memory usage: 826.6+ KB

## To Create LIB Table

In [14]:
LIB = df[['paper_id','journal','publish_year','publish_month']]

In [176]:
LIB.to_csv('../dataset/processed-files/LIB.csv', index=False)

## To Create Token Table

In [16]:
df_1 = df.groupby(['paper_id', 'section_num'])['text'].apply(lambda x: x.str.split(r'\n\n+', expand=True).stack()).to_frame()
df_1

                                                                                                           text
paper_id                                 section_num
0031e47b76374e05a18c266bd1a1140e5eacb54f 0           3213  0  BACKGROUND AND AIMS: Fecal microbial transplan...
                                         1           9652  0  Fecal samples were obtained from 15 paired you...
0043d044273b8eb1585d3a66061e9b4e03edc062 0           1595  0  BACKGROUND: Tuberculosis is a devastating dise...
                                         1           8034  0  As data for 2009 were only collected from Janu...
0049ba8861864506e1e8559e7815f4de8b03dbed 0           5455  0  BACKGROUND: Identification of broad neutraliza...
...                                                                                                         ...
fff1e7b356f0d6cf7b28b019974833200e38f843 0           3410  0  Background. Kawasaki disease (KD) is an acute ...
                                         1           9849  0  A total of 145 patients were identified. Group...
fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a 0           4415  0  TP53 gene is known as the “guardian of the gen...
                                         1           10854 0  Correlation coefficient between codon usage an...
                                                           1  RCBS value of a gene can be used as an effecti...

[19329 rows x 1 columns]

In [17]:
df_1 = df_1.reset_index()

In [18]:
df_1 = df_1.rename(columns={'level_2':'extra','level_3':'para_num'})
df_1

,paper_id,section_num,extra,para_num,text
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,3213,0,BACKGROUND AND AIMS: Fecal microbial transplan...
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,1,9652,0,Fecal samples were obtained from 15 paired you...
2,0043d044273b8eb1585d3a66061e9b4e03edc062,0,1595,0,BACKGROUND: Tuberculosis is a devastating dise...
3,0043d044273b8eb1585d3a66061e9b4e03edc062,1,8034,0,As data for 2009 were only collected from Janu...
4,0049ba8861864506e1e8559e7815f4de8b03dbed,0,5455,0,BACKGROUND: Identification of broad neutraliza...
...,...,...,...,...,...
19324,fff1e7b356f0d6cf7b28b019974833200e38f843,0,3410,0,Background. Kawasaki disease (KD) is an acute ...
19325,fff1e7b356f0d6cf7b28b019974833200e38f843,1,9849,0,A total of 145 patients were identified. Group...
19326,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,0,4415,0,TP53 gene is known as the “guardian of the gen...
19327,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,10854,0,Correlation coefficient between codon usage an...
19328,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,10854,1,RCBS value of a gene can be used as an effecti...

In [19]:
df_1 = df_1.drop('extra', axis=1)

In [20]:
df_1

,paper_id,section_num,para_num,text
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,BACKGROUND AND AIMS: Fecal microbial transplan...
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,1,0,Fecal samples were obtained from 15 paired you...
2,0043d044273b8eb1585d3a66061e9b4e03edc062,0,0,BACKGROUND: Tuberculosis is a devastating dise...
3,0043d044273b8eb1585d3a66061e9b4e03edc062,1,0,As data for 2009 were only collected from Janu...
4,0049ba8861864506e1e8559e7815f4de8b03dbed,0,0,BACKGROUND: Identification of broad neutraliza...
...,...,...,...,...
19324,fff1e7b356f0d6cf7b28b019974833200e38f843,0,0,Background. Kawasaki disease (KD) is an acute ...
19325,fff1e7b356f0d6cf7b28b019974833200e38f843,1,0,A total of 145 patients were identified. Group...
19326,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,0,0,TP53 gene is known as the “guardian of the gen...
19327,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,0,Correlation coefficient between codon usage an...
19328,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,RCBS value of a gene can be used as an effecti...

In [21]:
df_2 = df_1.groupby(['paper_id', 'section_num', 'para_num'])['text'].apply(lambda x: x.str.split(r'[.?!;"]', expand=True).stack()).to_frame()
df_2

                                                                                                                    text
paper_id                                 section_num para_num
0031e47b76374e05a18c266bd1a1140e5eacb54f 0           0        0     0  BACKGROUND AND AIMS: Fecal microbial transplan...
                                                                    1   This study used microbiota high-throughput se...
                                                                    2   METHODS: To evaluate the effect of environmen...
                                                                    3   Additionally, FMT was performed for 3 consecu...
                                                                    4   Fecal samples were collected from both donor ...
...                                                                                                                  ...
fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a 1           1        19328 5                         065 with a mean value of 0
                                                                    6             039 and a standard deviation (SD) of 0
                                                                    7                                                021
                                                                    8   In our analysis, low mean RCBS value suggeste...
                                                                    9

[765200 rows x 1 columns]

In [22]:
df_2 = df_2.reset_index()
df_2

,paper_id,section_num,para_num,level_3,level_4,text
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,0,BACKGROUND AND AIMS: Fecal microbial transplan...
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,1,This study used microbiota high-throughput se...
2,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,2,METHODS: To evaluate the effect of environmen...
3,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,3,"Additionally, FMT was performed for 3 consecu..."
4,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,4,Fecal samples were collected from both donor ...
...,...,...,...,...,...,...
765195,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,5,065 with a mean value of 0
765196,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,6,039 and a standard deviation (SD) of 0
765197,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,7,021
765198,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,8,"In our analysis, low mean RCBS value suggeste..."
765199,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,9,

In [23]:
df_2 = df_2.rename(columns={'level_3':'extra','level_4':'sent_num'})
df_2

,paper_id,section_num,para_num,extra,sent_num,text
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,0,BACKGROUND AND AIMS: Fecal microbial transplan...
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,1,This study used microbiota high-throughput se...
2,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,2,METHODS: To evaluate the effect of environmen...
3,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,3,"Additionally, FMT was performed for 3 consecu..."
4,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,4,Fecal samples were collected from both donor ...
...,...,...,...,...,...,...
765195,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,5,065 with a mean value of 0
765196,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,6,039 and a standard deviation (SD) of 0
765197,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,7,021
765198,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,8,"In our analysis, low mean RCBS value suggeste..."
765199,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,19328,9,

In [24]:
df_2 = df_2.drop('extra', axis=1)
df_2

,paper_id,section_num,para_num,sent_num,text
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,BACKGROUND AND AIMS: Fecal microbial transplan...
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,1,This study used microbiota high-throughput se...
2,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,2,METHODS: To evaluate the effect of environmen...
3,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,3,"Additionally, FMT was performed for 3 consecu..."
4,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,4,Fecal samples were collected from both donor ...
...,...,...,...,...,...
765195,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,5,065 with a mean value of 0
765196,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,6,039 and a standard deviation (SD) of 0
765197,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,7,021
765198,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,"In our analysis, low mean RCBS value suggeste..."
765199,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,9,

In [62]:
df_2['tsent_num'] = range(len(df_2))
df_2

,paper_id,section_num,para_num,sent_num,text,tsent_num
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,BACKGROUND AND AIMS: Fecal microbial transplan...,0
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,1,This study used microbiota high-throughput se...,1
2,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,2,METHODS: To evaluate the effect of environmen...,2
3,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,3,"Additionally, FMT was performed for 3 consecu...",3
4,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,4,Fecal samples were collected from both donor ...,4
...,...,...,...,...,...,...
765195,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,5,065 with a mean value of 0,765195
765196,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,6,039 and a standard deviation (SD) of 0,765196
765197,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,7,021,765197
765198,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,"In our analysis, low mean RCBS value suggeste...",765198
765199,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,9,,765199

In [76]:
df_2.drop(df_2.tail(1).index,inplace=True)

In [77]:
df_2

,paper_id,section_num,para_num,sent_num,text,tsent_num
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,BACKGROUND AND AIMS: Fecal microbial transplan...,0
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,1,This study used microbiota high-throughput se...,1
2,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,2,METHODS: To evaluate the effect of environmen...,2
3,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,3,"Additionally, FMT was performed for 3 consecu...",3
4,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,4,Fecal samples were collected from both donor ...,4
...,...,...,...,...,...,...
765194,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,4,006 to 0,765194
765195,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,5,065 with a mean value of 0,765195
765196,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,6,039 and a standard deviation (SD) of 0,765196
765197,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,7,021,765197
765198,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,"In our analysis, low mean RCBS value suggeste...",765198

In [152]:
def preprocess(text):
    return [word for word in word_tokenize(text) if word.isalnum()]

In [153]:
df_3 = df_2['text'].apply(preprocess).apply(pd.Series).stack().to_frame().reset_index()

In [154]:
df_3 = df_3.rename(columns={'level_0':'tsent_num','level_1':'token_num', 0 : 'token_str'})
df_3

          tsent_num  token_num   token_str
0                 0          0  BACKGROUND
1                 0          1         AND
2                 0          2        AIMS
3                 0          3       Fecal
4                 0          4   microbial
...             ...        ...         ...
11322280     765198         19        with
11322281     765198         20         low
11322282     765198         21  expression
11322283     765198         22       level
11322284     765198         23          20

[11322285 rows x 3 columns]

In [155]:
TOKEN = df_2.merge(df_3, left_on='tsent_num', right_on='tsent_num')

In [156]:
TOKEN = TOKEN.drop(['text', 'tsent_num'], axis = 1)

In [157]:
TOKEN

,paper_id,section_num,para_num,sent_num,token_num,token_str
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,0,BACKGROUND
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,1,AND
2,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,2,AIMS
3,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,3,Fecal
4,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,4,microbial
...,...,...,...,...,...,...
11322280,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,19,with
11322281,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,20,low
11322282,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,21,expression
11322283,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,22,level
11322284,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,23,20

In [158]:
token_list = list(TOKEN.token_str)
token_list

['BACKGROUND',
 'AND',
 'AIMS',
 'Fecal',
 'microbial',
 'transplantation',
 'FMT',
 'a',
 'treatment',
 'for',
 'certain',
 'gastrointestinal',
 'conditions',
 'associated',
 'with',
 'dysbiosis',
 'in',
 'people',
 'is',
 'also',
 'empirically',
 'employed',
 'in',
 'horses',
 'with',
 'colitis',
 'This',
 'study',
 'used',
 'microbiota',
 'sequencing',
 'to',
 'compare',
 'the',
 'fecal',
 'microbial',
 'profile',
 'of',
 'healthy',
 'horses',
 'to',
 'that',
 'of',
 'geriatric',
 'microbial',
 'transplant',
 'recipients',
 'experiencing',
 'diarrhea',
 'and',
 'tested',
 'whether',
 'FMT',
 'restores',
 'microbiota',
 'diversity',
 'METHODS',
 'To',
 'evaluate',
 'the',
 'effect',
 'of',
 'environment',
 'and',
 'donor',
 'characteristics',
 'on',
 'the',
 'intestinal',
 'microbiota',
 'fecal',
 'samples',
 'were',
 'collected',
 'per',
 'rectum',
 'from',
 '15',
 'healthy',
 'years',
 'and',
 '15',
 'geriatric',
 'years',
 'horses',
 'Additionally',
 'FMT',
 'was',
 'performed',
 'for',
 '3',
 'consecutive',
 'days',
 'in',
 '5',
 'geriatric',
 'horses',
 'with',
 'diarrhea',
 'using',
 'feces',
 'from',
 'the',
 'same',
 'healthy',
 'donor',
 'Fecal',
 'samples',
 'were',
 'collected',
 'from',
 'both',
 'donor',
 'and',
 'recipient',
 'prior',
 'to',
 'each',
 'FMT',
 'and',
 'from',
 'recipients',
 '24',
 'hours',
 'following',
 'the',
 'last',
 'FMT',
 'The',
 'profile',
 'of',
 'the',
 'fecal',
 'bacterial',
 'microbiota',
 'was',
 'compared',
 'using',
 '16S',
 'amplicon',
 'sequencing',
 'RESULTS',
 'AND',
 'CONCLUSIONS',
 'In',
 'contrast',
 'to',
 'diet',
 'and',
 'farm',
 'location',
 'age',
 'did',
 'not',
 'significantly',
 'affect',
 'the',
 'healthy',
 'equine',
 'fecal',
 'microbiota',
 'indicating',
 'that',
 'both',
 'healthy',
 'geriatric',
 'and',
 'horses',
 'may',
 'serve',
 'as',
 'FMT',
 'donors',
 'The',
 'fecal',
 'microbiota',
 'of',
 'horses',
 'with',
 'diarrhea',
 'was',
 'significantly',
 'more',
 'variable',
 'in',
 'terms',
 'of',
 'than',
 'that',
 'of',
 'healthy',
 'horses',
 'An',
 'inverse',
 'correlation',
 'between',
 'diarrhea',
 'score',
 'and',
 'relative',
 'abundance',
 'of',
 'Verrucomicrobia',
 'was',
 'identified',
 'in',
 'surviving',
 'FMT',
 'recipients',
 'At',
 'study',
 'completion',
 'the',
 'fecal',
 'microbiota',
 'of',
 'horses',
 'which',
 'responded',
 'to',
 'FMT',
 'had',
 'a',
 'higher',
 'than',
 'prior',
 'to',
 'treatment',
 'and',
 'was',
 'phylogenetically',
 'more',
 'similar',
 'to',
 'that',
 'of',
 'the',
 'donor',
 'Fecal',
 'samples',
 'were',
 'obtained',
 'from',
 '15',
 'paired',
 'median',
 'age',
 '6',
 '7',
 '3',
 '7',
 'years',
 'and',
 'geriatric',
 'horses',
 'median',
 'age',
 '22',
 '6',
 '1',
 '8',
 'years',
 'exposed',
 'to',
 'comparable',
 'management',
 'conditions',
 'including',
 '21',
 'mares',
 'and',
 '9',
 'geldings',
 'Aged',
 'and',
 'horses',
 'were',
 'matched',
 'based',
 'on',
 'phenotype',
 'body',
 'condition',
 'score',
 'sex',
 'and',
 'diet',
 'except',
 'for',
 'one',
 'horse',
 'pair',
 'where',
 'a',
 'young',
 'gelding',
 'was',
 'matched',
 'with',
 'an',
 'aged',
 'mare',
 'S2',
 'Table',
 'The',
 'most',
 'common',
 'breeds',
 'included',
 'Morgans',
 '33',
 '3',
 'Thoroughbreds',
 '26',
 '7',
 'and',
 'Western',
 'Breed',
 'Horses',
 '26',
 '7',
 'Neither',
 'baseline',
 'physical',
 'examination',
 'parameters',
 'nor',
 'body',
 'condition',
 'score',
 'differed',
 'significantly',
 'between',
 'P',
 '0',
 '05',
 'All',
 'horses',
 'were',
 'fed',
 'a',
 'median',
 'of',
 '2',
 '25',
 '0',
 '25',
 'body',
 'weight',
 'first',
 'cut',
 'hay',
 'per',
 'day',
 'except',
 'for',
 'one',
 'horse',
 'pair',
 'which',
 'received',
 '2',
 'body',
 'weight',
 'second',
 'cut',
 'hay',
 'per',
 'day',
 'The',
 'amount',
 'of',
 'concentrate',
 'fed',
 'and',
 'the',
 'duration',
 'of',
 'pasture',
 'turnout',
 'did',
 'not',
 'differ',
 'between',
 'young',
 'and',
 'aged',
 'horses',
 'P',
 '0',
 '05',
 'S2',
 'Table',
 'Five',
 'geriatric',
 '20',
 'years',
 'of',
 'age',
 'horses',
 'including',
 '3',
 'geldings',
 'and',
 '2',
 'mares',
 'presented',
 'for',
 'colitis',
 'or',
 'developed',
 'diarrhea',
 'while',
 'hospitalized',
 'prior',
 'to',
 'receiving',
 '3',
 'consecutive',
 'daily',
 'FMT',
 'from',
 'a',
 'single',
 'donor',
 'Duration',
 'of',
 'hospitalization',
 'ranged',
 'between',
 '5',
 'to',
 '8',
 'days',
 'with',
 'horses',
 'surviving',
 'to',
 'discharge',
 'The',
 'horses',
 'historical',
 'clinical',
 'and',
 'hematologic',
 'characteristics',
 'are',
 'specified',
 'in',
 'Tables',
 'All',
 'horses',
 'underwent',
 'Salmonella',
 'Polymerase',
 'Chain',
 'Reaction',
 'PCR',
 'testing',
 '3',
 'samples',
 'collected',
 'at',
 'hour',
 'intervals',
 'while',
 'a',
 'combined',
 'equine',
 'diarrhea',
 'PCR',
 'panel',
 'was',
 'only',
 'performed',
 'in',
 '4',
 'of',
 '5',
 'horses',
 'with',
 'diarrhea',
 'Equine',
 'Diarrhea',
 'Panel',
 'Research',
 'and',
 'Diagnostic',
 'Core',
 'Facility',
 'University',
 'of',
 'California',
 'Davis',
 'Coronavirus',
 'Clostridium',
 'difficile',
 'toxins',
 'A',
 'and',
 'B',
 'Clostridium',
 'perfringens',
 'CP',
 'antigen',
 'CP',
 'alpha',
 'toxin',
 'CP',
 'beta',
 'toxin',
 'CP',
 'beta2',
 'toxin',
 'CP',
 'cytotoxin',
 'netF',
 'CP',
 'enterotoxin',
 'Lawsonia',
 'intracellularis',
 'Neorickettsia',
 'risticii',
 'and',
 'Salmonella',
 'to',
 'identify',
 'potential',
 'etiologies',
 'of',
 'their',
 'colitis',
 'Although',
 'one',
 'horse',
 'F',
 'tested',
 'positive',
 'for',
 'Clostridium',
 'perfringens',
 'antigen',
 'all',
 'horses',
 'likely',
 'experienced',
 'undifferentiated',
 'colitis',
 'Horse',
 'H',
 'did',
 'not',
 'have',
 'a',
 'diarrhea',
 'PCR',
 'panel',
 'performed',
 'but',
 'showed',
 'evidence',
 'of',
 'sand',
 'enteropathy',
 'based',
 'on',
 'abdominal',
 'radiographs',
 'and',
 'removal',
 'of',
 'enteric',
 'sand',
 'on',
 'rectal',
 'palpation',
 'The',
 'fecal',
 'microbiota',
 'of',
 'horses',
 'treated',
 'with',
 'FMT',
 'was',
 'highly',
 'heterogeneous',
 'For',
 '190',
 'pairwise',
 'weighted',
 'UniFrac',
 'distance',
 'values',
 'between',
 '20',
 'samples',
 '4',
 'samples',
 'x',
 '5',
 'recipients',
 'the',
 'mean',
 'was',
 '0',
 '73',
 'n',
 '190',
 'This',
 'value',
 'compares',
 'to',
 'a',
 'mean',
 'pairwise',
 'distance',
 'between',
 'healthy',
 'horses',
 'of',
 '0',
 '44',
 'n',
 '2926',
 'The',
 'comparison',
 'between',
 'healthy',
 'and',
 'diarrheic',
 'horses',
 'was',
 'statistically',
 'highly',
 'significant',
 'Rank',
 'Sum',
 'test',
 'p',
 '0',
 '001',
 'As',
 'apparent',
 'in',
 'Fig',
 '1',
 'the',
 'fecal',
 'microbiota',
 'of',
 'most',
 'FMT',
 'recipients',
 'was',
 'very',
 'different',
 'from',
 'that',
 'of',
 'healthy',
 'horses',
 'Clustering',
 'of',
 'samples',
 'from',
 'these',
 '2',
 'groups',
 'was',
 'also',
 'statistically',
 'significant',
 'ANOSIM',
 'R',
 '0',
 '93',
 'p',
 '0',
 '001',
 'Due',
 'to',
 'the',
 'relatively',
 'large',
 'phylogenetic',
 'distances',
 'between',
 'the',
 'microbiota',
 'of',
 'healthy',
 'and',
 'of',
 'diarrheic',
 'horses',
 'the',
 'datapoints',
 'from',
 'healthy',
 'horses',
 'in',
 'Fig',
 '1',
 'appear',
 'compressed',
 'into',
 'a',
 'tight',
 'cluster',
 'To',
 'examine',
 'the',
 'microbiota',
 'of',
 'healthy',
 'horses',
 'for',
 'any',
 'structure',
 'or',
 'heterogeneity',
 'the',
 '60',
 'samples',
 'originating',
 'from',
 'healthy',
 'animals',
 'were',
 'analyzed',
 'separately',
 'A',
 'PCoA',
 'colored',
 'by',
 'geographical',
 'origin',
 'S1',
 'Fig',
 'shows',
 'a',
 'broad',
 'overlap',
 'between',
 'datapoints',
 'from',
 'different',
 'locations',
 'Testing',
 'for',
 'an',
 'effect',
 'of',
 'location',
 'Bo',
 'RHF',
 'Um',
 'and',
 'Uc',
 'on',
 'the',
 'microbiota',
 'revealed',
 'a',
 'significant',
 'effect',
 'ANOSIM',
 'R',
 '0',
 '29',
 'p',
 '0',
 '001',
 'S6',
 'Table',
 'Fig',
 '2',
 'shows',
 'the',
 'mean',
 'phylogeny',
 'for',
 '97',
 'microbiota',
 'samples',
 'represented',
 'in',
 'Fig',
 '1',
 'grouped',
 'according',
 'to',
 'age',
 'and',
 'FMT',
 'status',
 'Confirming',
 'the',
 'data',
 'shown',
 'in',
 'Fig',
 '1',
 'age',
 'does',
 'not',
 'visibly',
 'affect',
 'the',
 'equine',
 'fecal',
 'microbiota',
 'whereas',
 'the',
 'presence',
 'of',
 'diarrhea',
 'does',
 'The',
 'phylogenetic',
 'profile',
 'of',
 'the',
 'donors',
 'microbiota',
 'was',
 'broadly',
 'representative',
 'of',
 'that',
 'found',
 'in',
 'healthy',
 'animals',
 'Even',
 'though',
 'the',
 'colitis',
 'microbiota',
 'is',
 'diverse',
 'a',
 'feature',
 'shared',
 'by',
 'the',
 'microbiota',
 'of',
 'diarrheic',
 'horses',
 'is',
 'a',
 'relatively',
 'low',
 'abundance',
 'of',
 'Verrucomicrobia',
 'High',
 'Proteobacteria',
 'abundance',
 'was',
 'not',
 'observed',
 'in',
 'all',
 'animals',
 'Classified',
 'at',
 'phylum',
 'level',
 'the',
 'microbiota',
 'taxonomies',
 'Fig',
 '3',
 'revealed',
 'the',
 'phylogeny',
 'underlying',
 'the',
 'observed',
 'among',
 'five',
 'diarrheic',
 'horses',
 'apparent',
 'in',
 'Fig',
 '1',
 'The',
 'microbiota',
 'of',
 'three',
 'horses',
 'with',
 'improving',
 'diarrhea',
 'scores',
 'Horse',
 'C',
 'H',
 'and',
 'T',
 'S4',
 'Table',
 'which',
 'appeared',
 'to',
 'have',
 'responded',
 'to',
 'treatment',
 'and',
 'survived',
 'to',
 'discharge',
 'was',
 'characterized',
 'by',
 'diminishing',
 'Proteobacteria',
 'abundance',
 'and',
 'increasing',
 'abundance',
 'of',
 'Verrucomicrobia',
 'There',
 'were',
 'no',
 'apparent',
 'commonalities',
 'between',
 'the',
 'profile',
 'of',
 'the',
 'microbiota',
 'of',
 'the',
 'two',
 'horses',
 'Horse',
 'F',
 'and',
 'W',
 'Fig',
 '3',
 'Microbiota',
 'in',
 'horse',
 'F',
 'was',
 'dominated',
 'by',
 'Proteobacteria',
 'specifically',
 'by',
 'Enterobacteriales',
 'Particularly',
 'abundant',
 'within',
 'this',
 'order',
 'were',
 'sequences',
 'classified',
 'in',
 'the',
 'genus',
 'Trabulsiella',
 'In',
 'contrast',
 'W',
 'microbiota',
 'was',
 'dominated',
 'by',
 'Bacteroidetes',
 'mostly',
 'from',
 'the',
 'order',
 'Bacteroidales',
 'Horse',
 'W',
 'was',
 'ultimately',
 'diagnosed',
 'with',
 'enterolithiasis',
 'and',
 'Horse',
 'F',
 'was',
 'treated',
 'with',
 'antimicrobials',
 'throughout',
 ...]

In [159]:
from nltk import pos_tag

In [160]:
TOKEN['pos_tuple'] = pos_tag(token_list)

In [161]:
TOKEN['pos'] = [x[1] for x in TOKEN.pos_tuple]

In [162]:
TOKEN['term_str'] = TOKEN['token_str'].str.lower().str.replace('[\W_]', '')

In [163]:
TOKEN

,paper_id,section_num,para_num,sent_num,token_num,token_str,pos_tuple,pos,term_str
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,0,BACKGROUND,"(BACKGROUND, NNP)",NNP,background
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,1,AND,"(AND, NNP)",NNP,and
2,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,2,AIMS,"(AIMS, NNP)",NNP,aims
3,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,3,Fecal,"(Fecal, NNP)",NNP,fecal
4,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,4,microbial,"(microbial, JJ)",JJ,microbial
...,...,...,...,...,...,...,...,...,...
11322280,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,19,with,"(with, IN)",IN,with
11322281,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,20,low,"(low, JJ)",JJ,low
11322282,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,21,expression,"(expression, NN)",NN,expression
11322283,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,22,level,"(level, NN)",NN,level
11322284,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,23,20,"(20, CD)",CD,20

In [164]:
TOKEN['term_str'].replace('', np.nan, inplace=True)

In [165]:
TOKEN = TOKEN.dropna(subset=['term_str'])

In [166]:
TOKEN

,paper_id,section_num,para_num,sent_num,token_num,token_str,pos_tuple,pos,term_str
0,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,0,BACKGROUND,"(BACKGROUND, NNP)",NNP,background
1,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,1,AND,"(AND, NNP)",NNP,and
2,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,2,AIMS,"(AIMS, NNP)",NNP,aims
3,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,3,Fecal,"(Fecal, NNP)",NNP,fecal
4,0031e47b76374e05a18c266bd1a1140e5eacb54f,0,0,0,4,microbial,"(microbial, JJ)",JJ,microbial
...,...,...,...,...,...,...,...,...,...
11322280,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,19,with,"(with, IN)",IN,with
11322281,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,20,low,"(low, JJ)",JJ,low
11322282,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,21,expression,"(expression, NN)",NN,expression
11322283,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,22,level,"(level, NN)",NN,level
11322284,fff3678cfe3ce7a9ccae1e7becf17d5d71d1b54a,1,1,8,23,20,"(20, CD)",CD,20

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
nltk.download('wordnet')
TOKEN['term_str1'] = TOKEN['term_str'].apply(lambda x: lemmatizer.lemmatize(x))

from nltk.corpus import words

gibber = []
for i,word in enumerate(TOKEN.term_str1):
    if word not in words.words():
        gibber.append(i)
        
gibber

In [167]:
TOKEN.to_csv('../dataset/processed-files/TOKEN.csv', index=False)

# VOCAB table

In [168]:
VOCAB = TOKEN.term_str.value_counts().to_frame()\
    .rename(columns={'index':'term_str', 'term_str':'n'})\
    .sort_index().reset_index().rename(columns={'index':'term_str'})
VOCAB.index.name = 'term_id'

In [169]:
VOCAB['num'] = VOCAB.term_str.str.match("\d+").astype('int')
VOCAB

        term_str      n  num
term_id
0              0  55519    1
1             00    542    1
2            000    434    1
3           0000     13    1
4          00000      4    1
...          ...    ...  ...
118676      ﬂuid      1    0
118677         𝕊      1    0
118678        𝕊l      4    0
118679        𝕊t      4    0
118680         𝜀      2    0

[118681 rows x 3 columns]

In [170]:
sw = pd.DataFrame(nltk.corpus.stopwords.words('english'), columns=['term_str'])
sw = sw.reset_index().set_index('term_str')
sw.columns = ['dummy']
sw.dummy = 1
sw.head

<bound method NDFrame.head of           dummy
term_str
i             1
me            1
my            1
myself        1
we            1
...         ...
weren't       1
won           1
won't         1
wouldn        1
wouldn't      1

[179 rows x 1 columns]>

In [171]:
VOCAB['stop_words'] = VOCAB.term_str.map(sw.dummy)
VOCAB['stop_words'] = VOCAB['stop_words'].fillna(0).astype('int')

In [172]:
VOCAB[VOCAB.stop_words == 0].sample(10)

           term_str    n  num  stop_words
term_id
114811         w311    3    0           0
12998      advaxcpg   21    0           0
39731         emic2    1    0           0
56318    illuminate   13    0           0
4514          28016    1    1           0
16973    arrhythmia    8    0           0
71109      mirnomes    7    0           0
33325          dams  162    0           0
101655        speak   17    0           0
48523          goal  246    0           0

In [173]:
VOCAB[VOCAB.stop_words == 1].sample(10)

           term_str       n  num  stop_words
term_id
14279           all   27036    0           1
23066           but   18181    0           1
112088           up    3082    0           1
11806         above    3569    0           1
52547           his     487    0           1
115381        weren       8    0           1
15214           and  372248    0           1
35573          didn      68    0           1
117127   yourselves       1    0           1
69062            me     247    0           1

In [174]:
from nltk.stem.porter import PorterStemmer
stemmer1 = PorterStemmer()
VOCAB['stem_porter'] = VOCAB.term_str.apply(stemmer1.stem)

from nltk.stem.snowball import SnowballStemmer
stemmer2 = SnowballStemmer("english")
VOCAB['stem_snowball'] = VOCAB.term_str.apply(stemmer2.stem)

from nltk.stem.lancaster import LancasterStemmer
stemmer3 = LancasterStemmer()
VOCAB['stem_lancaster'] = VOCAB.term_str.apply(stemmer3.stem)

In [175]:
VOCAB.to_csv('../dataset/processed-files/VOCAB.csv', index=False)